.page-header__nav {
  width: 66%;
}

@media (max-width: 959px) {
  .page-header__nav {
    width: 100%;
  }
}

.main-nav__item {
  position: relative;
  float: left;
  display: block;
  text-align: center;
  height: 54px;
}

.main-nav__link {
  width: 10%;
  height: 54px;
  display: table-cell;
  vertical-align: middle;
}
