// colors
$color-white: #ffffff;
$color-lightblue: #bceffa;
$color-gray: #cccccc;
$color-black: #000101;
$color-blue: #1ec8ed;

// max - min width
$max-width: 1440px;

// brakepoints
$bp-desktop: 1440px;
$bp-tablet: 959px;

// retina media expression
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// fonts
$font-primary: "trebushet ms", "arial", sans-serif;
